In [3]:
import pandas as pd
import numpy as np

deck = pd.DataFrame({
    'face': ["king", "queen", "jack", "ten", "nine", "eight", "seven", "six", "five", "four", "three", "two", "ace"] * 4,
    'suit': ["spades"] * 13 + ["clubs"] * 13 + ["diamonds"] * 13 + ["hearts"] * 13,
    'value': [13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1] * 4
})

# head(deck)
print(deck.head())

# deck[1, 1]
print(deck.iloc[0, 0])

# deck[1, c(1, 2, 3)]
print(deck.iloc[0, [0, 1, 2]])

# new <- deck[1, c(1, 2, 3)]
new = deck.iloc[0, [0, 1, 2]]
print(new)

# deck[c(1, 1), c(1, 2, 3)]
print(deck.iloc[[0, 0], [0, 1, 2]])

# vec <- c(6, 1, 3, 6, 10, 5)
vec = [6, 1, 3, 6, 10, 5]
print(vec[0:3])

# deck[1:2, 1:2]
print(deck.iloc[0:2, 0:2])

# deck[1:2, 1]
print(deck.iloc[0:2, 0])

# deck[1:2, 1, drop = FALSE]
print(deck.iloc[0:2, [0]])

# deck[-(2:52), 1:3]
print(deck.drop(deck.index[1:52]).iloc[:, 0:3])

# deck[0, 0]
# In Python, there's no row 0 (the index starts from 1 for the first row when using iloc)
# so this might not give a direct equivalent

# deck[1, ]
print(deck.iloc[0, :])

# deck[1, c(TRUE, TRUE, FALSE)]
print(deck.iloc[0, [True, True, False]])

# rows <- c(TRUE, F, ...)
# deck[rows, ]
rows = [True] + [False] * 51
print(deck[rows])

# deck[1, c("face", "suit", "value")]
print(deck.loc[0, ["face", "suit", "value"]])

# deck[ , "value"]
print(deck["value"])

# deal function
def deal(cards):
    return cards.iloc[0, :]

print(deal(deck))

# deck2 <- deck[1:52, ]
deck2 = deck.iloc[0:52, ]
print(deck2.head())

# deck3 <- deck[c(2, 1, 3:52), ]
deck3 = deck.iloc[[1] + [0] + list(range(2, 52)), :]
print(deck3.head())

# random <- sample(1:52, size = 52)
# deck4 <- deck[random, ]
random = np.random.choice(range(52), size=52, replace=False)
deck4 = deck.iloc[random, :]
print(deck4.head())

# shuffle function
def shuffle(cards):
    random = np.random.choice(range(52), size=52, replace=False)
    return cards.iloc[random, :]

print(deal(deck))
deck2 = shuffle(deck)
print(deal(deck2))

# deck$value
print(deck["value"])
print(deck["value"].mean())
print(deck["value"].median())

# list examples
lst = {"numbers": [1, 2], "logical": True, "strings": ["a", "b", "c"]}
print(lst)

# lst[1] in R gives the first element of the list. In Python, this would be:
print(lst["numbers"])

# sum(lst$numbers)
print(sum(lst["numbers"]))

# lst[[1]]
# This retrieves the first element of the list in R. In Python, it'd be:
print(lst["numbers"])

    face    suit  value
0   king  spades     13
1  queen  spades     12
2   jack  spades     11
3    ten  spades     10
4   nine  spades      9
king
face       king
suit     spades
value        13
Name: 0, dtype: object
face       king
suit     spades
value        13
Name: 0, dtype: object
   face    suit  value
0  king  spades     13
0  king  spades     13
[6, 1, 3]
    face    suit
0   king  spades
1  queen  spades
0     king
1    queen
Name: face, dtype: object
    face
0   king
1  queen
   face    suit  value
0  king  spades     13
face       king
suit     spades
value        13
Name: 0, dtype: object
face      king
suit    spades
Name: 0, dtype: object
   face    suit  value
0  king  spades     13
face       king
suit     spades
value        13
Name: 0, dtype: object
0     13
1     12
2     11
3     10
4      9
5      8
6      7
7      6
8      5
9      4
10     3
11     2
12     1
13    13
14    12
15    11
16    10
17     9
18     8
19     7
20     6
21     5
22     4
23     3
24     2
25     1
26    13
27    12
28    11
29    10
30     9
31     8
32     7
33     6
34     5
35     4
36     3
37     2
38     1
39    13
40    12
41    11
42    10
43     9
44     8
45     7
46     6
47     5
48     4
49     3
50     2
51     1
Name: value, dtype: int64
face       king
suit     spades
value        13
Name: 0, dtype: object
    face    suit  value
0   king  spades     13
1  queen  spades     12
2   jack  spades     11
3    ten  spades     10
4   nine  spades      9
    face    suit  value
1  queen  spades     12
0   king  spades     13
2   jack  spades     11
3    ten  spades     10
4   nine  spades      9
     face      suit  value
23  three     clubs      3
33    six  diamonds      6
14  queen     clubs     12
19  seven     clubs      7
51    ace    hearts      1
face       king
suit     spades
value        13
Name: 0, dtype: object
face        two
suit     hearts
value         2
Name: 50, dtype: object
0     13
1     12
2     11
3     10
4      9
5      8
6      7
7      6
8      5
9      4
10     3
11     2
12     1
13    13
14    12
15    11
16    10
17     9
18     8
19     7
20     6
21     5
22     4
23     3
24     2
25     1
26    13
27    12
28    11
29    10
30     9
31     8
32     7
33     6
34     5
35     4
36     3
37     2
38     1
39    13
40    12
41    11
42    10
43     9
44     8
45     7
46     6
47     5
48     4
49     3
50     2
51     1
Name: value, dtype: int64
7.0
7.0
{'numbers': [1, 2], 'logical': True, 'strings': ['a', 'b', 'c']}
[1, 2]
3
[1, 2]